---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import ProductText from '../components/ProductText.astro';
import { bases, products } from '../data/products';

const images = import.meta.glob<{ default: ImageMetadata }>('../assets/designs/showcase/*.{jpg,jpeg}', { eager: true });
---

<Layout title="Designs" description="The artist is mightier than the soldier, for art scales where war does not, and he who changes hearts and minds shapes the world." footerLink={{ href: "/designs/orders", label: "Orders" }}>
  <div class="products">
    {products.map((product) => (
      <div class="product">
        <a href={`/designs/${product.slug}`}>
          <Image src={images[`../assets/designs/showcase/${product.slug}.jpeg`]?.default} alt={product.title} class="product-image" />
        </a>
        <ProductText class="product-text" title={product.title} baseName={bases[product.base].name} price={bases[product.base].price} />
      </div>
    ))}
  </div>
</Layout>

<style>
  /* Size : Right Margin : Bottom Margin in the Golden Ratio. */
  :root {
    --showcase-base: calc(var(--margin-base) * var(--phi-4) - var(--vw-padding));
    --showcase-margin: calc(var(--showcase-base) / var(--phi));
    --showcase-gap: calc(var(--showcase-base) / var(--phi) / var(--phi));
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--showcase-margin);
    row-gap: var(--showcase-gap);
  }

  .product {
    width: var(--showcase-base);
  }

  .product-image {
    width: 100%;
    height: var(--showcase-base);
    background: #eee;
  }

  .product :global(.product-text) {
    margin-top: 24px;
  }

  /* Two Products per Row */
  @media (min-width: 768px) {
    :root { --showcase-base: calc(var(--margin-base) * var(--phi-2) - var(--vw-padding)); }
  }

  /* Two Products per Row */
  @media (min-width: 1024px) {
    :root { --showcase-base: calc(var(--margin-base) * var(--phi) - var(--vw-padding)); }
  }

  /* Three Products per Row */
  @media (min-width: 1536px) {
    :root { --showcase-base: calc(var(--margin-base) - var(--vw-padding)); }
  }
</style>
