---
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
import ProductControls from '../../components/ProductControls.astro';
import { bases, products } from '../../data/products';

export function getStaticPaths() {
  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;
const base = bases[product.base];
---

<Layout title={product.title} description={`${product.title} — ${base.name}`}>
  <div class="product-container">
    <div class="product-image"></div>
    <div class="product-info">
      <h2>{product.title}</h2>
      <p>{base.name} — <i>{base.price}</i></p>
      <p class="product-description">{product.description}</p>
      <ProductControls quantity={1} size="M" />
      <Button paddingX={18} class="add-button">Add</Button>
      <p class="model-info">The model is a slim 5'8" and wears a M.</p>
    </div>
  </div>
</Layout>

<style>
  .product-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .product-image {
    width: 72.37vw;
    height: 117.68vw;
    background: #eee;
  }

  @media (min-width: 768px) {
    .product-image {
      width: 38.20vw;
      height: 61.81vw;
    }
  }

  @media (min-width: 1536px) {
    .product-container {
      flex-direction: row;
      gap: 7.29vw;
    }

    .product-image {
      width: 19.09vw;
      height: 30.89vw;
    }
  }

  .product-info h2 {
    margin-top: 0;
  }

  .product-description {
    margin-top: 24px;
    margin-bottom: 48px;
    white-space: pre-line;
  }

  :global(.add-button) {
    margin-top: 24px;
  }

  .model-info {
    margin-top: 48px;
  }
</style>
